@inject IStringLocalizer<Resource> Localizer

<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="dark">
            <NavLink href="/" class="logo">
                <img src="img/logo.png" alt="navbar brand" class="navbar-brand" height="75" />
            </NavLink>

            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item">
                    <a href="/">
                        <i class="fas fa-home"></i>
                        <span class="sub-item">@Localizer["SidebarMenuHome"]</span>
                    </a>
                </li>

                @foreach (var parent in Menu)
                {
                    <li class="nav-item @(IsParentActive(parent.Path, ReturnTypeIsParentActive.NavItem))">
                        @if (parent.Children.Any())
                        {
                            <NavLink data-bs-toggle="collapse" href="@($"#submenu-{parent.Name}")">
                                <i class="fas @parent.Icon"></i>
                                <p>@Localizer[$"Sidebar{parent.Name}"]</p>
                                <span class="caret"></span>
                            </NavLink>
                            <div class="collapse @(IsParentActive(parent.Path, ReturnTypeIsParentActive.Submenu))" id="submenu-@parent.Name">
                                <ul class="nav nav-collapse" >
                                    @foreach(var child in parent.Children)
                                    {
                                        <li class="@(IsActive(@child.Path))">
                                            <NavLink href=@child.Path>
                                                <i class="fas @child.Icon ms-4"></i>
                                                <span>@Localizer[$"Sidebar{child.Name}"]</span>
                                            </NavLink>
                                        </li>
                                    }                                    
                                </ul>
                            </div>
                        }
                        else
                        {
                            <NavLink href=@parent.Path>
                                <span class="sub-item">@parent.Name</span>
                            </NavLink>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</div>    