@inject IStringLocalizer<Resource> Localizer

<div class="main-header">
    <div class="navbar navbar-header navbar-expand-lg d-flex justify-content-end">
        <LanguageSelect />
        <div class="d-flex topbar-user dropdown hidden-caret submenu"> 
            <a class="dropdown-toggle profile-pic d-flex align-items-center" data-bs-toggle="dropdown" data-bs-display="static" href="#" aria-expanded="false">
                <div class="avatar-sm">
                    @if (string.IsNullOrEmpty(User.AvatarUrl))
                    {
                        string[] nomes = User.Name.Split(' ');
                        if (nomes.Length >= 2)
                        {
                            string avatar = string.Concat(nomes[0][0], nomes[1][0]);

                            <span class="avatar-img avatar-title rounded-circle border border-white">
                                @avatar
                            </span>
                        }
                        else
                        {
                            <span class="avatar-img avatar-title rounded-circle border border-white">
                                US
                            </span>
                        }
                    }
                    else
                    {
                        <img src=@User.AvatarUrl alt="image profile" class="avatar-img rounded-circle">
                    }
                </div>
                <span class="profile-username ms-2">
                    <span class="op-7">@Localizer["TopBarGreeting"]</span> <span class="fw-bold">@User.Name</span>
                </span>
            </a>
            <div class="dropdown-menu dropdown-user animated fadeIn" style="margin-left: -75px">
                <div class="scroll-wrapper dropdown-user-scroll scrollbar-outer" style="position: relative;">
                    <div class="dropdown-user-scroll scrollbar-outer scroll-content">
                        <div>
                            <div class="user-box">
                                <div class="avatar-lg">
                                    @if(string.IsNullOrEmpty(User.AvatarUrl))
                                    {
                                        string[] nomes = User.Name.Split(' ');

                                        if (nomes.Length >= 2)
                                        {
                                            string avatar = string.Concat(nomes[0][0], nomes[1][0]);

                                            <span class="avatar-img avatar-title rounded-circle border border-white">
                                                @avatar
                                            </span>
                                        }
                                        else
                                        {
                                            <span class="avatar-img avatar-title rounded-circle border border-white">
                                                US
                                            </span>
                                        }
                                    }
                                    else
                                    {
                                        <img src=@User.AvatarUrl alt="image profile" class="avatar-img rounded">
                                    }                                    
                                </div>
                                <div class="u-text">
                                    <h4>@User.Name</h4>
                                    <p class="text-muted">@User.Email</p><NavLink href="/Perfil" class="btn btn-xs btn-secondary btn-sm">@Localizer["TopBarViewProfile"]</NavLink>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="dropdown-divider"></div>
                            <NavLink class="dropdown-item" href="#">@Localizer["TopBarMyProfile"]</NavLink>
                            <NavLink class="dropdown-item" href="#">@Localizer["TopBarAccountSettings"]</NavLink>
                            <NavLink class="dropdown-item" href="/Logout">@Localizer["TopBarLogout"]</NavLink>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>