@page "/login"
@attribute [AllowAnonymous]
@layout PublicLayout
@inject IStringLocalizer<Resource> Localizer

<PageTitle>SM - @Localizer["LoginAccess"]</PageTitle>

<EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync" class="w-100 d-flex justify-content-center">
    <DataAnnotationsValidator />

    <div class="card" style="width: 500px">
        <div class="card-header bg-dark rounded-top-3 d-flex flex-column align-items-center border-0">
            <img src="/img/logo-icon.png" alt="Logo SM Admin" height="100" />
            <h3 class="card-title text-center text-white">@Localizer["LoginAccess"]</h3>
        </div>
        <div class="card-body">
            @if (Errors.Count > 0)
            {
                <ErrorList Errors=Errors Area="Login" Title=@Localizer["LoginError"] />
            }

            <TextInputComponent Id="email" Label=@Localizer["LoginEmail"] Type="@InputTypes.email" Value="@InputModel.Email" 
                ValueChanged="@(v => InputModel.Email = v)" ValueExpression="() => InputModel.Email" />
            <TextInputComponent Id="password" Label=@Localizer["LoginPassword"] Type="@InputTypes.password" Value="@InputModel.Password" 
                ValueChanged="@(v => InputModel.Password = v)" ValueExpression="() => InputModel.Password" />
            
            <div class="form-group">
                <div class="mb-4">
                    <NavLink href="/Cadastro" class="link-text-secondary">@Localizer["LoginForgetPassword"]</NavLink>
                </div>

                <ButtonComponent ButtonType="@ButtonTypes.submit" ButtonClass="btn-secondary w-100" IconClass="fa-sign-in-alt" ButtonText=@Localizer["LoginEnter"] IsLoading="@(Loading && Errors.Count == 0)" />

                <div class="my-4 text-center">
                    <span>@Localizer["LoginDontHaveAnAccount"] <NavLink href="/Cadastro" class="link-text-secondary">@Localizer["LoginRegisterHere"]</NavLink></span>
                </div>
            </div>            
        </div>
        
    </div>        
</EditForm>