@page "/Cadastro"
@attribute [AllowAnonymous]
@layout PublicLayout
@inject IStringLocalizer<Resource> Localizer

<PageTitle>SM - @Localizer["LoginSignUp"]</PageTitle>

<EditForm Model="@InputModel" OnValidSubmit="OnValidSubmitAsync" class="w-100 d-flex justify-content-center">
    <DataAnnotationsValidator />

    <div class="card" style="width: 500px;">
        <div class="card-header bg-dark rounded-top-3 d-flex flex-column align-items-center border-0">
            <img src="/img/logo-icon.png" alt="Logo SM Admin" height="100" />
            <h3 class="card-title text-center text-white">@Localizer["LoginSignUp"]</h3>
        </div>
        <div class="card-body">
            @if (Errors.Count > 0)
            {
                <ErrorList Errors=Errors Area="Register" Title=@Localizer["RegisterError"] />
            }

            <TextInputComponent Id="email" Label=@Localizer["LoginEmail"] Type="@InputTypes.email" Value="@InputModel.Email"
                                ValueChanged="@(v => InputModel.Email = v)" ValueExpression="() => InputModel.Email" />
            <TextInputComponent Id="password" Label=@Localizer["LoginPassword"] Type="@InputTypes.password" Value="@InputModel.Password"
                                ValueChanged="@(v => InputModel.Password = v)" ValueExpression="() => InputModel.Password" />
            <TextInputComponent Id="passwordConfirm" Label=@Localizer["LoginConfirmPassword"] Type="@InputTypes.password" Value="@InputModel.PasswordConfirm"
                                ValueChanged="@(v => InputModel.PasswordConfirm = v)" ValueExpression="() => InputModel.PasswordConfirm" />

            <div class="form-group d-flex flex-column">
                <ButtonComponent ButtonType="@ButtonTypes.submit" ButtonClass="btn-secondary w-100 mb-2" IconClass="fa-user-plus" ButtonText=@Localizer["LoginSignUp"] IsLoading="@(Loading && Errors.Count == 0)" />
                <ButtonComponent ButtonType="@ButtonTypes.button" ButtonClass="btn-black w-100 mb-2" IconClass="fa-reply" ButtonText=@Localizer["CommonReturn"] IsLoading="@false" OnClickCallback="RedirectToLogin" />
            </div>
        </div>

    </div>
</EditForm>