@page "/administracao/cargos"
@inject IStringLocalizer<AdministrationResource> AdministrationLocalizer

<PageTitle>SM - @AdministrationLocalizer["Roles"]</PageTitle>

<div class="d-flex align-items-center justify-content-between">
    <div>
        <h1>@AdministrationLocalizer["Roles"]</h1>
    </div>
    <div>
        <button class="btn btn-primary" @onclick="ShowAddRoleModal">@AdministrationLocalizer["AddRole"]</button>
    </div>
</div>

<div class="row">
    @foreach (var role in RoleList)
    {
        <div class="col-sm-6 col-md-3">
            <div class="card card-round">
                <div class="card-body">
                    <h4 class="card-title mb-4">@role.Name</h4>
                    <div class="status">
                        @AdministrationLocalizer["RoleQuantityOfUsers"] @role.TotalUsers
                    </div>
                    <div class="mt-4">
                        @foreach (var claim in role.Claims)
                        {
                            <div class="d-flex align-items-center my-2">
                                <i class="fas fa-minus fa-lg text-primary me-2 fw-bolder"></i>

                                <span>@AdministrationLocalizer[$"Claim{@claim.Value}"]</span>
                            </div>
                        }
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-primary btn-border">@AdministrationLocalizer[$"ViewRole"]</button>
                        <button type="button" class="btn btn-primary btn-border">@AdministrationLocalizer[$"EditRole"]</button>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<AddEditRoleModal @bind-IsVisible="IsAddEditModalVisible" Role="SelectedRole" OnSave="LoadRoles"></AddEditRoleModal>
